a {
display: inline-block;
width: 680px;
height: 31px;
line-height: 31px;
padding: 10px 5px;
margin: 20px;
background-color: #000;
color: #FFF;
border-radius: 5px;
text-decoration: none;
text-align: center;
font-weight: bold;
font-family: Arial;
}

