.wrapper {
  display: grid;
  grid-column: center;
}

.btn1 {
    vertical-align: bottom;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: .625rem 1.5rem 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 20px;
    width: 90%;
    height: 31;
    margin-bottom: 25px;
    font-family: Arial;
}


.btn1 {
    color: #fff;
    background-color: #262626;
}

.btn2 {
    vertical-align: bottom;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: .625rem 1.5rem 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 20px;
    width: 90%;
    height: 31;
    margin-bottom: 25px;
    font-family: Arial;
}


.btn2 {
    color: #fff;
    background-color: #262626;
}

.btn3 {
    vertical-align: bottom;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: .625rem 1.5rem 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 20px;
    width: 90%;
    height: 31;
    font-family: Arial;
}


.btn3 {
    color: #fff;
    background-color: #262626;
}

.texto{
  font-family: Arial;
  color: #fff;
display: inline-block;
margin-bottom: 20px;
margin-top: 10px;
font-size: 20px;

}

